name: Ruby

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - '3.1.2'

    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby & Rust
      uses: oxidize-rb/actions/setup-ruby-and-rust@main
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
        cargo-cache: true
        rubygems: '3.4.7'
    - name: Run the default task
      run: bundle exec rake
    - name: cross-gem
      uses: oxidize-rb/cross-gem-action@v7

